.grid-container {
  padding: 20px;

}
nat-nav-list{
  display: flex;
  justify-content: center;
  align-content: center;
}

.menu-button {
  background-color: #0000001a;
  width: 80%;
  margin: 20px 8%;
  border-radius: 5px;
  border: 1px solid #ffffff2b;
}
